<h1>Create a new Neighborhood</h1>

<%= form_for(@neighborhood) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :city_id%>
  <%= f.collection_select(:city_id, City.all, :id, :name) %>
  <%= f.submit "Create a new neighborhood", class: "btn btn-inverse"%>
<% end %>

