<h1>Create a new Location</h1>

<%= form_for(@location) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :neighborhood_id%>
  <%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name) %>
  <%= f.submit "Create a new neighborhood", class: "btn btn-inverse"%>
<% end %>
<%= debug(params) %>
